header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
    padding-top: 2%;
}

.navigation-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 12px;
    justify-content: center;
    gap: 5%;
}

.navigation-panel__logo {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    width: 20%;
    height: 20%;
}

.navigation-panel__links {
    flex-grow: 2;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 40px;
}

.little-text {
    color: #272F3A;
    font-size: 18px;
    text-align: center;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

.main-panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.main-panel__title-text {
    color: #002B6B;
    font-size: 72px;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Euclid Circular B', 'Montserrat Light', sans-serif;
    font-weight: lighter;
}

.images-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 5%;
}

.img {
    width: 20%;
    height: 20%;
    border-radius: 4%;
    margin-top: 5%;
}
