.container {
    display: flex;
}

.icons {
    display: flex;
    flex-direction: column;
    border: 1px solid #F4F4F4;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.icons__first {
    margin-top: 40px;
    margin-bottom: 16px;
}

.icons__one {
    margin-bottom: 16px;
}

.main {
    display: block;
    width: 100%;
    margin-left: 30%;
    margin-top: 3%;
}

.account {
    display: flex;
    align-items: center;
}

.account__image {
    max-width: 100%;
}

.account__name {
    font: 500 14px "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0, 15px;
    text-align: center;
    margin-left: 10px;
}

.account__ico {
    margin-left: 318px;
}

.post__img_num {
    position: relative;
}

.post__ico-num {
    position: absolute;
    border: none;
    background-color: #222222;
    opacity: 40%;
    border-radius: 20px;
    width: 44px;
    height: 24px;
    display: flex;
    align-items: center;
    bottom: 434px;
    left: 414px;
}

.ico-num__text {
    font: 400 15px/18px "Golos UI", sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: -0, 15px;
    margin-left: 10px;
}

.small_text {
    font: 700 15px "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0, 15px;
    color: #808080;
    font-weight: normal;
}

.emoji {
    border: none;
    background-color: #F2F3F5;
    border-radius: 8px;
    width: 68px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.emoji__ico_love {
    margin-left: 12px;
}

.emoji__text_love {
    font: 400 15px/18px "Golos UI", sans-serif;
    color: #222222;
    font-weight: normal;
    letter-spacing: -0, 15px;
    margin-left: 3px;
}

.post {
    margin-top: 16px;
}

.post_text {
    font: 400 15px/18px "Golos UI", sans-serif;
    color: #222222;
    font-weight: normal;
    letter-spacing: -0, 15px;
    width: 474px;
    margin-top: 16px;
}

.text_time {
    font: 700 14px "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0, 15px;
    color: #808080;
    font-weight: normal;
    margin-top: 8px;
}

.post_second {
    margin-top: 36px;
}